* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
   border: 10px double red;
   font-size: 1.5rem;
    margin: 1.5em;
    /* The margin can be written as shortcut as above to replace below
    margin-top: 1.5em;
    margin-right: 2em;
    margin-bottom: 2 em;
    margin-left: 2 em; 
    */
    padding: 1.5em;
    outline: 5px solid purple;
    outline-offset: -20px;
}
